<h1>Lista de pendientes<h1/>    
<a href= "{% url 'crear-tarea' %}">Crear nueva tarea</a>    
    
<table> 
    <tr> 
    <th></th>
    <th>Elementos</th>
    <th></th>
    
    </tr>
    
    {% for tarea in tareas %}

    <tr>
        <th></th>
        <td>{{tarea.titulo}}</td>
        <th></th>
        <td><a href="{% url 'tarea' tarea.id %}">Ver</a></td>
        <th></th>
        <td><a href="{% url 'editar-tarea' tarea.id %}">Editar</a></td>
        <td><a href="{% url 'eliminar-tarea' tarea.id %}">Eliminar</a></td>
    </tr>

    {% empty %}

    <h3>No hay elementos en la lista<h3/> 

    {% endfor %}
    
    
</table>